#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#timeline {
    background-color:white;
    color:black;
    text-align:right;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:400px;
    width:120px;
    float:left;
    padding:5px; 
}
#section {
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f0f0f0;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active{
    background-color: black;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
